<h1 style="color: blueviolet">Empleados API Routing</h1>
<table class="table table-primary">
    <thead class="thead-dark">
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empleados">
            <td>{{ emp.apellido }}</td>
            <td>{{ emp.oficio }}</td>
            <td>
                <a [routerLink]="['/detallesempleado', emp.idEmpleado]" class="btn btn-primary">Ver detalles</a>
            </td>
        </tr>
    </tbody>
</table>